.icons a{
	margin-right: 15px;
}

.icon_active {
  position: relative;
  display: inline-block;
}

.icon_active img {
  position: relative;
}

.icon_active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid #FFF; 
  box-sizing: border-box; 
  z-index: 2; 
}
