body {
	width: 100%;
	height: 100%;
	background-color: #000;
	color: #fff;
	font-family: 'Jomhuria', cursive;
	font-size: 3vw;
	padding: 40px;
	line-height: 65%;
}

.scrollbar {
  scrollbar-color: #fff #000;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 20px; /* Ширина полосы прокрутки */
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

::-webkit-scrollbar-track {
  background: #000;
}

h2 {
	font-size: 4vw;
	text-align: center;
}

h4 {
	font-size: 2vw;
}

.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.health {
	display: flex;
	align-items: center;
	height: 90px;
}

.health__image {
	width: 10%;
}

.health-bar {
	width: 35%;
	height: 55%;
	border: 6px solid #fff;
	color: #878787;
	position: relative;
	overflow: hidden;
	margin-left: 15px;
}

.health-bar span {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.health-bar::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: linear-gradient(to right, #fff, #fff);
	width: var(--fill-width, 100%);
}

.player {
	display: flex;
	align-items: center;
	justify-content: right;
	margin-left: auto;
	width: 50%;
}

.about {
	margin-right: 20px;
}

.player__avatar {
	width: 20%;
}