.main{
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 90%;
	margin-top: 15px;
	margin-bottom: 65px;
	height: 70%;
}

.inventory-border{
	border: 5px solid #fff;
	height: 100%;
	overflow: auto;
	scrollbar-color: #fff #000;
  	scrollbar-width: thin;
}

.inventory{
	padding-right: 25px;
}

.inventory__item{
	padding: 5px 20px;
	display: grid;
	grid-template-columns: 10% 60% 30%;
}

.inventory__item-image{
	width: 100%;
}

.inventory__item-about{
	margin-top: 5px;
	margin-left: 12px;
	align-self: center;
}

.inventory__item-detail{
	justify-self: end;
	width: 30%;
}

.detail-border{
	border: 5px solid #fff;
	height: 100%;
}

.detail{

	min-height: 100%;
}

.detail__item{
	display: none;
	padding: 20px;
	height: 100%;
}

.detail__item-image{
	width: 90%;
}

.detail__item-title{
	margin: 15px 0;
}

.detail__item_main{
	display: grid;
	grid-template-columns: 25% 75%;
	height: 20%;
	margin-bottom: 20px;
}

.detail__item-about{
	margin-top: 5px;
	align-self: center;
}

.detail__item-description{
	height: 90%;
	overflow: auto;
	scrollbar-color: #fff #000;
  	scrollbar-width: thin;
}

.detail__item__footer{
	display: grid;
	grid-template-columns: 75% 25%;
	align-content: end;
	align-self: end;
}

.detail__item__footer__stats{
	align-self: end;
}

.detail__item__footer-trade{
	display: grid;
}

.detail__item__footer-trade-image{
	justify-self: center;
	align-self: end;
	width: 90%;
}

.detail__item__footer-trade p{
	justify-self: center;
	align-self: end;
	text-align: center;
}

.seller-inventory{
	padding-left: 25px;
}

.seller-inventory-border{
	border: 5px solid #fff;
	height: 100%;
	overflow: auto;
	scrollbar-color: #fff #000;
  	scrollbar-width: thin;
}

.seller-inventory{
	padding-right: 25px;
}

.seller-inventory__item{
	padding: 5px 20px;
	display: grid;
	grid-template-columns: 10% 60% 30%;
}

.seller-inventory__item-image{
	width: 100%;
}

.seller-inventory__item-about{
	margin-top: 5px;
	margin-left: 12px;
	align-self: center;
}

.seller-inventory__item-detail{
	justify-self: end;
	width: 30%;
}

.inventory__item-detail:hover{
	cursor: pointer;
}

.seller-inventory__item-detail:hover{
	cursor: pointer;
}

.detail__item__footer-equip-image{
	justify-self: center;
	align-self: end;
	width: 95%;
}

.detail__item__footer-equip-image:hover{
	cursor: pointer;
}